body {
  font-family: sans-serif;
}

.container {
width: 800px;
background: #999;
margin: auto;
margin-top: 50px;
}

.PhoneImage {
  width: 440px;
  display: inline-block;
  text-align: center;
  border: 2px solid black
}

.Sign_Up_Form {
  width: 350px;
  display: inline-block;
  background-color: yellow;
  float: right;
  text-align: center;
}

.PhoneImage img {
  width: 400px;
  margin-top: 40px;
  display: inline-block;
}

.image_header img {
  width: 250px;

}

.sign_up_text {
  width: 250px;
  color: #999;
  margin: auto;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
